body {
	text-align: center;	
}

document, body, html {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	background-image: url("battleship_background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#divStartOverlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("battleship_background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1000;
}

#divStartGame {
	/*background-color: rgba(75, 125, 255, 0.95);*/
	background-image: url("battleship_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	border: 2px solid rgba(255, 255, 255, 1);
	position: absolute;
	width: 500px;
	height: 150px;
	left: calc(50% - 250px);
	top: calc(50% - 125px);
	box-shadow: 0 0 0 1px #27496d,0 5px 15px #193047;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1001;
}

#divStartGame h1 {
	margin-top: 15px;
	margin-bottom: 5px;
	color: floralwhite;
	text-shadow: -1px 1px black;
}

#divStartGame .btn {
	position: static;
	border-radius: 5px;
	margin-left: 30px;
	color: floralwhite;
	background-color: dodgerblue;
	width: 200px;
}

#divOptionButtons {
	margin-top: 15px;
}

#divOptions {
	background-image: url("dots.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 45px 45px;
	background-color: rgba(75, 125, 255, 0.95);
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
	display: none;
	cursor: pointer;
}

#divMultiplayerLink {
	display: none;
	text-align: left;
	padding: 5px;
}

#divMultiplayerLink label {
	color: white;
	text-shadow: -1px 1px 3px black;
	display: block;
	font-size: 22px;
	margin-bottom: 5px;
}

#divMultiplayerLink input[type="text"] {
	width: calc(100% - 70px);
	padding: 10px 2px;
	font-size: 16px;
	background-color: rgb(228,228,248);
}

#divMultiplayerLink .btn {
	border-radius: 5px;
	margin-left: 0;
	color: floralwhite;
	background-color: dodgerblue;
	float: right;
	width: 53px;
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 28px;
	margin-right: 0px;
	line-height: 42px;
}

.board, .pieces {
	cursor: default;
}

#otherPieces .placeholder {
	visibility: hidden;
}

.ship {
	cursor: pointer;
	text-align: left;
}

.screenLayout {
	margin: auto;
}

.screenLayout td {
	vertical-align: top;
}

.board {
	background-image: url("water.jpg");
	background-repeat: repeat;
	height: 500px;
	width: 500px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,80,94,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,80,94,1);
	box-shadow: 0px 0px 14px 0px rgba(0,80,94,1);
	font-family: Impact, Georgia, Serif;
	display: inline-block;
}

.board table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.board td, .board th {
	border: 2px solid rgba(12,200,225,0.75);
	color: white;
	font-weight: bold;
	font-size: 34px;
}

.cell-placed {
	background-color: rgba(0, 255, 0, 0.25);
}

.cell-placing {
	background-color: rgba(255, 255, 255, 0.25);
}

.cell-invalid {
	background-color: rgba(255, 0, 0, 0.25);
}

.cell-search {
	cursor: pointer;
}

.missile {
	display: none;
	width: 24px;
	height: 70px;
	background-image: url('rocket.png');
	left: 0px;
	top: 0px;
	z-index: 99999;
	position: absolute;
	transition-timing-function: ease-in;
}

.pieces {
	margin-right: 10px;
	background-image: url("steel2.png");
	background-repeat: repeat;
	width: 145px;
	height: 380px;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);
	float: left;
}

.ship {
	display: inline-block;
	transform-origin: 0px 0px;
}

.carrier {
	background-image: url("carrier.png");
	background-repeat: no-repeat;
	width: 45.6px;
	height: 224px;
}

.battleship {
	background-image: url("battleship.png");
	background-repeat: no-repeat;
	width: 45.6px;
	height: 179px;
}

.cruiser {
	background-image: url("cruiser.png");
	background-repeat: no-repeat;
	width: 45.6px;
	height: 135px;
}

.submarine {
	background-image: url("submarine.png");
	background-repeat: no-repeat;
	width: 45.6px;
	height: 134px;
}

.destroyer {
	background-image: url("destroyer.png");
	background-repeat: no-repeat;
	width: 45.6px;
	height: 89px;
}

.pixel {
	position:absolute;
	width: 6px;
	height: 6px;
	background-color: green;
	display: block;
	border-radius: 3px;
	z-index: 99999;
}

.btn-green {
	background: #4ad934;
	background-image: -webkit-linear-gradient(top, #4ad934, #1c800d);
	background-image: -moz-linear-gradient(top, #4ad934, #1c800d);
	background-image: -ms-linear-gradient(top, #4ad934, #1c800d);
	background-image: -o-linear-gradient(top, #4ad934, #1c800d);
	background-image: linear-gradient(to bottom, #4ad934, #1c800d);
	padding: 15px 23px;
}

.btn-red {
	background: #d94a34;
	background-image: -webkit-linear-gradient(top, #d94a34, #801c0d);
	background-image: -moz-linear-gradient(top, #d94a34, #801c0d);
	background-image: -ms-linear-gradient(top, #d94a34, #801c0d);
	background-image: -o-linear-gradient(top, #d94a34, #801c0d);
	background-image: linear-gradient(to bottom, #d94a34, #801c0d);
	padding: 15px 20px;
}

.btn:disabled {
	box-shadow: inset 0 0 0 100px rgba(128, 128, 128, 0.75);
	text-shadow: -1px 1px rgba(200, 200, 200, 0.75);
	color: rgba(200, 200, 200, 1) !important;
}

.btn:disabled:hover {
	box-shadow: inset 0 0 0 100px rgba(128, 128, 128, 0.75);
	text-shadow: -1px 1px rgba(200, 200, 200, 0.75);
	color: rgba(200, 200, 200, 1) !important;
}

.btn {
	color: #fff;
	text-shadow: -1px 1px black;
	box-shadow: inset 0 0 0 1px #27496d;
	border: none;
	border-radius: 150px;
	cursor: pointer;
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 32px;
	font-family: "Bitter",serif;
	line-height: 1.8;
	appearance: none;
	float: left;
	position: relative;
	top: -110px;
	left: 25px;
}

.btn:focus {
	outline:0;
}

.btn:hover {
	box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.btn:active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.btn-rotate {
	background-image: url("rotate_btn.png");
	background-color: rgba(0, 0, 0, 0);
	background-size: 32px 34px;
	box-shadow: none;
	width: 32px;
	height: 34px;
	border: none;
	margin-left: 6px;
	margin-top: 0px;
}

.btn2 {
	border: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 0px;
}

.btn2:focus {
	outline:0;
}

.btn2:hover {
	animation-name: twist;
	animation-duration: 120s;
}

.btn2:active {
	top: 2px;
}

@keyframes twist {
	from {transform: rotate(0deg);}
	to {transform: rotate(6000deg);}
}

.cursor {
	background-image: url("cursor.png");
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.myScreen {
	position: relative;
	top: 0px;
	transform-origin: 50% 100%;
}

.otherScreen {
	transform-origin: 50% 100%;
	transition-duration: 0s;
	transform: perspective(1500px);
	position: relative;
	top: -600px;
}

#dynamicStyles {
	display: none;
}

#msg {
	display: none;
	opacity: 0;
	position: absolute;
	left: 625px;
	top: 250px;
	z-index: 999;
	color: red;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
	font-family: Georgia, serif;
	font-size: 90px;
	padding: 2px;
	white-space: nowrap;
	transition-timing-function: ease-in-out;
	transition-duration: 3s;
}

#msg2 {
	display: none;
	opacity: 0;
	position: absolute;
	left: 100px;
	top: calc(50% - 150px);
	z-index: 999;
	color: greenyellow;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
	font-family: Georgia, serif;
	font-size: 35px;
	padding: 2px;
	white-space: nowrap;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}
